html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-custom {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.form-control-custom {
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.label-custom {
    font-weight: bold;
    color: #495057;
}

.btn-custom {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

    .btn-custom:hover {
        background-color: #0056b3;
    }

.custom-heading {
    color: #007bff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.text-danger {
    color: #dc3545;
}

.table-custom {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

    .table-custom th,
    .table-custom td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table-custom thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        background-color: #f8f9fa;
        font-weight: bold;
    }

    .table-custom tbody + tbody {
        border-top: 2px solid #dee2e6;
    }

.table-hover .table-custom:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
