@page
@model PrivacyModel
@{
    ViewData["Title"] = "Despre noi";
}
<h1>@ViewData["Title"]</h1>

<p>Cu pasiune pentru sunetele autentice ale rockului, suntem o echipă dedicată la crearea unei experiențe muzicale vibrante. La Music.net, ne-am angajat să aducem energia și rebeliunea muzicii rock în inimile ascultătorilor noștri. Inspirăm și ne lăsăm inspirați de rafinamentul artistic, diversitatea genurilor și emoțiile transmise de acordurile puternice. De la legende clasice până la talente emergente, explorăm universul muzicii rock, aducând experiența concertelor direct în confortul casei tale. Music.net este mai mult decât o platformă muzicală; suntem o comunitate a pasionaților care împărtășesc aceeași iubire pentru rafinatul spirit rock..</p>
