@page
@model RazorPagesUI.Pages.Hits.CreateModel

@{
    ViewData["Title"] = "Create Hit";
}

<h1>Create Hit</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Hituri.NumeHit" class="control-label">Nume Hit</label>
                <input asp-for="Hituri.NumeHit" class="form-control" />
                <span asp-validation-for="Hituri.NumeHit" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hituri.DataDeLansare" class="control-label">Data de Lansare</label>
                <input asp-for="Hituri.DataDeLansare" class="form-control" type="date" />
                <span asp-validation-for="Hituri.DataDeLansare" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hituri.Album" class="control-label">Album</label>
                <input asp-for="Hituri.Album" class="form-control" />
                <span asp-validation-for="Hituri.Album" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hituri.ArtistId" class="control-label">Artist</label>
                <select asp-for="Hituri.ArtistId" asp-items="ViewBag.ArtistId" class="form-control"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

